$color-ffffff:#ffffff;
$color-000000:#000000;
$color-0052CC:#0052CC;
$color-EBECF0:#EBECF0;
$color-344563:#344563;
$color-DFE1E6:#DFE1E6;
$color-6B778C:#6B778C;
$color-F4F5F7:#F4F5F7;
$color-172B4D:#172B4D;
$color-42526E:#42526E;
$color-091E420A:#091E420A;
$color-E9F2FF:#E9F2FF;
$color-eaf3ff:#eaf3ff;
$color-4C9AFF:#4C9AFF;
$color-DEEBFF:#DEEBFF;