@use '../../styles/color' as *;
@import '../../styles/mixins';

.issue{
    overflow-x:auto;
    width:100%;
    &::-webkit-scrollbar{
        height:6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color:$color-172B4D;
        border-radius:3px;
      }
    &::-webkit-scrollbar-thumb:hover{
        background-color:$color-6B778C;
      }
    &__icon{
        background-image:url('../../../public/images/priority.svg');
        width:16px;
        height:16px;
        vertical-align:middle;
    }
    &__title{
        font-weight:600;
        @extend .font12;
        color:$color-6B778C;
        @extend .pl-5, .pr-5;
    }
    &__summery{
        @extend .font14;
        color:$color-172B4D;
        @media screen and (max-width:767px){
            display:block;
            padding-top:5px;
        }
    }
    &__total{
        font-weight:600;
    }
    table{
        width:100%;
        border-collapse:collapse;
        th, td{
            @extend .p-8;
            border:1px solid $color-EBECF0;
            text-align:center;
            color:$color-6B778C;
            font-weight:400;
            min-width:50px;
        }
        th{
            > span{
                display:block;
            }
            &.sticky__second, &.sticky__first{
                font-weight:400;
                color:$color-6B778C;
            }
        }
        td{
            vertical-align:middle;
        }
        tr:hover{
            td{
                background-color:$color-E9F2FF;
            }
        }
        .sticky{
            position:sticky;
            font-weight:600;
            background-color:$color-ffffff;
            &__first{
                left:0;
                min-width:210px;
                text-align:left;
                @media screen and (max-width:767px){
                    min-width:140px;
                }
            }
            &__second{
                left:210px;
                min-width:100px;
                text-align:right;
                color:$color-172B4D;
                @media screen and (max-width:767px){
                    min-width:70px;
                    left:140px;
                }
            }
        }
        .highlight{
            background-color:$color-eaf3ff;
        }
    }
}
.currentday{
    border:1px solid $color-4C9AFF;
    color:$color-4C9AFF;
    background-color:$color-DEEBFF;
    @include border-radius(50px);
    @extend .pl-5, .pr-5;
}
.nowork{
    background-color:$color-F4F5F7;
}